vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|29 Nov 2002 22:26:38 -0000
vti_extenderversion:SR|5.0.2.2623
vti_backlinkinfo:VX|features/features42.htm projected.htm features/features43.htm JSP/ECNMenu.jsp JSP/ECNMenu.htm index2.htm CIRMenuInternet.htm few.htm features/features.htm features/features41.htm features/features31.htm manual/theory.htm contactus.htm manual/usermanual.htm base.htm JSP/ECNLogin.jsp
vti_author:SR|PC-AABD\\araar
vti_modifiedby:SR|PC-AABD\\araar
vti_timecreated:TR|29 Nov 2002 19:26:38 -0000
vti_lineageid:SR|{16F12EA0-9F8F-4EF0-BE17-AF2F550AAB8F}
vti_cacheddtm:TX|29 Nov 2002 22:26:38 -0000
vti_filesize:IR|859
vti_usagebymonth:UX|0
vti_usagebyweek:UX|0
vti_usagebyday:UX|0
vti_usagelastupdated:TX|02 Mar 2008 04:59:59 -0000
vti_usagetotalhits:IX|0
